.Tj_Sel {
	min-width: 200px;
	display: flex;
	.title {
		color: #6B7799;
		min-height: 30px;
		padding-right: 10px;
		line-height: 30px;
		white-space: nowrap;
	}
	:global {

		.ant-select-dropdown-menu { //未生效
			background-color: red !important;
			.ant-select-dropdown-menu-item {
				background-color: red !important;
			}
		}

		.ant-select {
			width: 100%;
			.ant-select-selection {
				background-color: #3F4D73;
				border: solid 1px #394973;
				outline: none;
				color: #6B7799;
			}
		}

	}
}

.sel {
	div {
		.ant-select-dropdown-menu { //未生效
			background-color: red !important;
			.ant-select-dropdown-menu-item {
				background-color: red !important;
			}
		}
	}
}

