.autoComplete {

	:global {
		.ant-select-selection {
			background-color: #3F4D73;
			border: #979797 1px solid;
			color: #6C89A6;
			.ant-select-selection__rendered {
				ul {
					.ant-select-search {
						.ant-select-search__field__wrap {
							.ant-input {
								border: none;
							}
						}
					}
				}
			}
		}
	}
}
