@import "baseStyleVarity";

.content-container {
	.item {
		margin: $base-btn-gap;
		display: flex;
		align-items: center;
		.description {
			text-align: right;
			width: 100px;
			color: $base-font-title-color;
		}
		.value {
			color: $base-font-content-color;
		}
	}
}
