{
	"env": {
		"development": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": [
								"Chrome >= 65"
							],
							"node": "6.0.0"
						},
						"loose": true,
						"module": false,
						"useBuiltIns": true,
						"debug": false
					}
				],
				"react",
				"stage-0"
			],
			"plugins": [
				[
					"import",
					{
						"libraryName": "antd",
						"libraryDirectory": "es",
						"style": true
					}
				],
				"transform-decorators-legacy",
				"transform-decorators",
				[
					"transform-runtime",
					{
						"polyfill": false,
						"regenerator": true
					}
				]
			]
		},
		"production": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": [
								"Chrome >= 45",
								"Firefox >= 38",
								"Edge >= 12",
								"Explorer >= 10",
								"iOS >= 9",
								"Safari >= 9",
								"Android >= 4.4",
								"Opera >= 30"
							],
							"node": "6.0.0"
						},
						"loose": true,
						"module": false,
						"useBuiltIns": true,
						"debug": false
					}
				],
				"babel-polyfill",
				"react",
				"stage-0"
			],
			"plugins": [
				[
					"import",
					{
						"libraryName": "antd",
						"libraryDirectory": "es",
						"style": true
					}
				],
				"transform-decorators-legacy",
				"transform-decorators",
				[
					"transform-runtime",
					{
						"polyfill": false,
						"regenerator": true
					}
				]
			]
		},
		"test": {
			"presets": [
				"env",
				"react",
				"stage-0"
			]
		}
	}
}
