{
	"printWidth": 999,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"parser": "json",
	"filepath": ".prettierrc"
}
