// 字体主题色
$mainFontColor: #6c89a6;
.tj_inputNumberBox {
	&:global(.ant-input-number) {
		color: $mainFontColor;
		background-color: #1a2440;
		border: none;
	}

	:global {
		.ant-input-number-input {
			color: $mainFontColor;
			background-color: #1a2440;
			border: 1px solid #394973;
			height: 32px;
		}
		.ant-input-number-input:focus {
			border: 1px solid #0099ff;
			outline: none;
			box-shadow: none;
		}
	}
}
