@import "baseStyleVarity";

.main-container {
	background-color: $base-background-color;
	padding: $base-content-gap;
	border-radius: $base-border-radius;
}

.operate-container {
	:global {
		.ant-input-search {
			width: auto;
		}
		.ant-select {
			width: 200px;
		}
	}
}

.form-container {
	background-color: $base-background-color;
	padding: $base-content-gap;
	border-radius: $base-border-radius;
	margin-bottom: $base-content-gap;
}
