@import "baseStyleVarity";

$w: 200px;
.main-container {
	.parse-file-container {
		:global {
			.ant-btn, .ant-select {
				margin-right: $base-content-gap;
				width: $w;
			}
		}
	}
	.mime-container,
	.camel-case-container {
		display: flex;
		align-items: center;
		input {
			margin-right: $base-content-gap;
			width: $w;
		}
	}
}
