@import "baseStyleVarity";

$w: 200px;
.main-container {
	.parse-file-container {
		:global {
			.ant-btn {
				margin-right: $base-content-gap;
				width: $w;
			}
			.ant-select {
				width: $w;
			}
		}
	}
	.mime-container,
	.camel-case-container {
		display: flex;
		align-items: center;
		input {
			margin-right: $base-content-gap;
			width: $w;
		}
	}
	.other-content {
		.ant-btn {
			width: $w;
		}
		.content {
			background-color: #f00;
			text-indent: 2em;
		}
		margin-bottom: 0;
	}
}
