@import "baseStyleVarity.scss";

.main-container {
	flex-grow: 1;
	background-color: #fff;
	padding: $base-content-gap;
	border-radius: $base-border-radius;

	:global {
		.xlsx-container,
		.xml-container,
		.csv-container {
			margin-bottom: 16px;
			.ant-btn {
				width: 100%;
				display: block;
			}
		}
		.mime-container {
			margin-bottom: 16px;
			display: flex;
			align-items: center;
			input {
				margin-right: 16px;
				width: 200px;
			}
			.content {
				flex-grow: 1;
			}
		}
	}
}
