@import "baseStyleVarity.scss";

.main-container {
	background-color: $base-background-color;
	padding: $base-content-gap;
	border-radius: $base-border-radius;

	:global {
		.xlsx-container,
		.xml-container,
		.csv-container {
			margin-bottom: $base-content-gap;
			.ant-btn {
				width: 100%;
				display: block;
			}
		}
		.mime-container {
			margin-bottom: $base-content-gap;
			display: flex;
			align-items: center;
			input {
				margin-right: $base-content-gap;
				width: 200px;
			}
			.content {
				flex-grow: 1;
			}
		}
	}
}
