@import "baseStyleVarity.scss";

.table-header-container {
	background-color: #fff;
	padding: 8px;
	border-radius: 4px;
	.left-container {
		float: left;
	}
	.right-container {
		float: right;
	}
}

:global {
	@include tableStyle();
	.ant-table {
		.ant-btn {
			margin: 0 8px;
		}
	}
}
