@import "baseStyleVarity.scss";

.main-container {
	flex-grow: 1;
	.table-header-container {
		border-radius: 4px;
		background-color: #fff;
		padding: 8px;
		display: flex;
		justify-content: space-between;
	}
}
