// 字体主题色
$mainFontColor: #6c89a6;
.tj_inputBox {
	&:global(.ant-input) {
		color: $mainFontColor;
		background-color: rgba(63, 77, 115, 0.2);
		border: 1px solid #394973;
	}

	&:global(.ant-input:focus) {
		border: 1px solid #0099ff;
		outline: none;
		box-shadow: none;
	}
}
