/* 基础颜色 */
$base-primary-color: #1890ff;

/* 头部高度 */
$header-height: 48px;

/* 侧边栏基本背景 */
$base-sider-background-color: #333;

/* 内容的header背景 */
$base-body-header-background-color: #fff;

/* body背景 */
$base-body-background-color: #f0f2f5;

/* 菜单加头部布局的content的间隔 */
$base-menu-and-header-content-padding: 16px;

/* 按钮等的间隔 */
$base-btn-gap: 8px;

/* 内容等的间隔 */
$base-content-gap: 16px;

/* border-radius */
$base-border-radius: 4px;

@mixin tableStyle {
	.ant-table-pagination {
		margin-top: 32px;
		float: none !important;
		text-align: center;
	}
}

@mixin flex-style {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

:global {
	.base-gap:not(:last-of-type) {
		margin-right: $base-btn-gap;
	}
}
