/*基础颜色*/
$base-color: #00d9ca;

/*右侧头部高度*/
$header-height: 60px;

/*侧边栏基本背景*/
$base-sider-background-color: #333;

/*内容的content背景*/
$base-body-background-color: #eee;

/*内容的header背景*/
$base-body-header-background-color: #fff;



