@import "baseStyleVarity";

$right-main-content-header-height: 40px;
$right-main-content-basis-padding: 20px;

html, body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	:global(.ant-menu-dark .ant-menu-sub) {
		background-color: $base-sider-background-color;
	}
	:global(#wrapper) {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: $header-height;
	}
}

#main-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	/* sider */
	.sider-container {
		position: fixed;
		left: 0;
		top: $header-height;
		bottom: 0;
		background-color: $base-sider-background-color;
		.sider-menu {
			padding: 20px 0;
			font-size: 14px;
			background-color: $base-sider-background-color;
			overflow-y: auto;
			:global {
				.ant-menu-item {
					margin-bottom: 0;
					height: 32px;
					line-height: 32px;
					&.ant-menu-item-selected {
						a {
						}
					}
				}
				.ant-menu-submenu-title {
					height: 32px;
					line-height: 32px;

					background-color: $base-sider-background-color;
				}
				.iconfont, .anticon {
					margin-right: 8px;
				}
			}
		}
		:global {
			.ant-layout-sider-trigger {
				background-color: $base-sider-background-color;
			}
		}
	}

	/* Layout */
	.content-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		position: relative;
		/* content */
		.main-content-container {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			position: relative;
			padding: $right-main-content-basis-padding;

			/* 主内容---header */
			.content-header-container {
				padding: 8px 0;
				.left-container {
					.title-container {
						font-size: 20px;
						font-weight: bold;
					}
				}
				.right-container {
				}
			}
			.content-body-container {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				position: relative;
			}
		}
	}
}

/* header */
.main-header-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $base-body-header-background-color;
	box-shadow: 0 1px 2px 0 rgba(82, 95, 102, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	padding: 0 $right-main-content-basis-padding;
	.left-container {
		display: flex;
		/* logo */
		.logo-container {
		}

		/* 一级路由 */
		.drop-down-menu-container {
			margin-left: 24px;
		}

		/* 分类路由 */
		.category-menu-container {
			margin-left: 24px;
			a {
				i {
					margin-right: 8px;
					vertical-align: middle;
				}
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				height: $header-height;
				position: relative;
				margin: 0 8px;
				padding: 0 24px;
				transition: all .3s linear;
				&.active, &:hover {
					color: #fff;
					background-color: $base-primary-color;
				}
			}
		}
	}
	.right-container {
		:global {
			.iconfont {
				margin-right: 8px;
			}
		}
	}
}

.header-children {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}
