@import "baseStyleVarity";

html, body {
	@include flex-style();
	:global {
		.ant-menu-dark {
			.ant-menu-item {
				&.active, &:hover {
					background-color: $base-primary-color;
					a {
						color: #fff;
					}
				}
			}
			.ant-menu-sub {
				background-color: $base-sider-background-color;
			}
		}
		#wrapper {
			@include flex-style();
			background-color: $base-body-background-color;
		}
	}
}

#main-container {
	padding-top: $header-height;
	@include flex-style();
	position: relative;
	background-color: transparent;
	/* sider */
	.sider-container {
		position: fixed;
		left: 0;
		top: $header-height;
		bottom: 0;
		background-color: $base-sider-background-color;
		.sider-menu {
			padding: 20px 0;
			font-size: 14px;
			background-color: $base-sider-background-color;
			overflow-y: auto;
			:global {
				.ant-menu-inline.ant-menu-sub {
					background-color: $base-sider-background-color;
				}
				.ant-menu-item {
					&.active, &:hover {
						background-color: $base-primary-color;
						a {
							color: #fff;
						}
					}
				}
				.ant-menu-submenu-title {
					background-color: $base-sider-background-color;
				}
			}
		}
		:global {
			.ant-layout-sider-trigger {
				background-color: $base-sider-background-color;
			}
		}
	}

	/* Layout */
	.content-container {
		@include flex-style();
		position: relative;
		/* content */
		.main-content-container {
			@include flex-style();
			position: relative;
			padding: $base-menu-and-header-content-padding;

			/* 主内容---header */
			.content-header-container {
				display: flex;
				flex-shrink: 0;
				justify-content: space-between;
				background-color: #fff;
				padding: 8px;
				border-radius: 4px;
				margin-bottom: $base-menu-and-header-content-padding;
			}
		}
	}
}

/* header */
.main-header-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $base-body-header-background-color;
	box-shadow: 0 1px 2px 0 rgba(82, 95, 102, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	padding: 0 5%;
	.left-container {
		line-height: $header-height;
		display: flex;

		/* 一级路由 */
		.drop-down-menu-container {
			margin-left: 24px;
		}

		/* 分类路由 */
		.category-menu-container {
			display: flex;
			margin-left: 24px;
			a {
				i {
					margin-right: 8px;
					vertical-align: middle;
				}
				text-decoration: none;
				height: $header-height;
				position: relative;
				margin: 0 8px;
				padding: 0 24px;
				transition: all .3s linear;
				&.active, &:hover {
					color: #fff;
					background-color: $base-primary-color;
				}
			}
		}
	}
	.right-container {
		cursor: pointer;
	}
}

.header-children {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}
