@import "baseStyleVarity";

html, body {
	&::-webkit-scrollbar {
		display: none;
	}
	@include flex-column-grow();
	:global {
		.ant-menu-dark {
			.ant-menu-item {
				&.active, &:hover {
					background-color: $base-primary-color;
					a {
						color: $base-font-highlight-color;
					}
				}
			}
			.ant-menu-sub {
				background-color: $base-sider-background-color;
			}
		}
		#wrapper {
			@include flex-column-grow();
			background-color: $base-body-background-color;
		}
	}
}

#main-container {
	padding-top: $header-height;
	position: relative;
	background-color: transparent;
	/* sider */
	.sider-container {
		z-index: $headr-and-sider-z-index;
		position: fixed;
		left: 0;
		top: $header-height;
		bottom: 0;
		background-color: $base-sider-background-color;
		.sider-menu {
			background-color: $base-sider-background-color;
			overflow-y: auto;
			:global {
				.ant-menu-inline.ant-menu-sub {
					background-color: $base-sider-background-color;
				}
				.ant-menu-item {
					&.active, &:hover {
						background-color: $base-primary-color;
					}
				}
				.ant-menu-submenu-title {
					background-color: $base-sider-background-color;
				}
			}
		}
		:global {
			.ant-layout-sider-trigger {
				background-color: $base-sider-background-color;
			}
		}
	}

	/* Layout */
	.content-container {
		position: relative;
		/* content */
		.main-content-container {
			position: relative;
			padding: $base-content-gap;
		}
	}
}

/* header */
.main-header-container {
	z-index: $headr-and-sider-z-index;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $base-background-color;
	box-shadow: $base-box-shadow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	padding: 0 5%;
	.left-container {
		display: flex;
		align-items: center;
		/* 一级路由 */
		.drop-down-menu-container {
			margin-left: $base-content-gap;
		}

		/* 分类路由 */
		.category-menu-container {
			display: flex;
			line-height: $header-height;
			margin-left: $base-content-gap;
			a {
				display: flex;
				i {
					margin-right: $base-btn-gap;
				}
				text-decoration: none;
				height: $header-height;
				position: relative;
				margin: 0 $base-btn-gap;
				padding: 0 $base-content-gap;
				transition: all .3s linear;
				&.active, &:hover {
					color: $base-font-highlight-color;
					background-color: $base-primary-color;
				}
			}
		}
	}
	.right-container {
		cursor: pointer;
	}
}

.header-children {
	padding-top: $header-height+$base-content-gap;
	position: relative;
}
